{% extends 'catalog/base.html' %}
{% load catalog_extras %}

{% block content %}
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" class="form-control" name="name" />
        </p>
        <p>
            <label>Введите описание</label><br>
            <input type="text" class="form-control" name="description" />
        </p>
        <p>
            <label>Введите категорию</label><br>
            <input type="text" class="form-control" name="category" />
        </p>
        <p>
            <label>Введите цену</label><br>
            <input type="number" class="form-control" name="price" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Описание</th>
        <th scope="col">Категория</th>
        <th scope="col">Фотография</th>

      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.description|slice:":100" }}</td>
          <td>{{ object.category }}</td>
          <td><img src ="{% mediapath object.image %}" width="10%" height="10%" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}