{% extends 'catalog/base.html' %}
{% load catalog_extras %}

{% block content %}
    {% if user.is_authenticated %}
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите Название</label><br>
            <input type="text" class="form-control" name="name" />
        </p>
        <p>
            <label>Введите описание</label><br>
            <input type="text" class="form-control" name="content" />
        </p>
        <p>
            <label>Введите категорию</label><br>
            <input type="text" class="form-control" name="category" />
        </p>
        <p>
            <label>Введите цену</label><br>
            <input type="number" class="form-control" name="price" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Категория</th>
        <th scope="col">Версия</th>
          <th scope="col">Создана</th>

      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
          <td><a class="btn-outline-success" href="{% url 'catalog:detail' object.id %}">{{ object.name }}</a></td>
          <td>{{ object.description|slice:":100" }}</td>
          <td>{{ object.category }}</td>
          <td>{{ object.versions.get }}</td>
          <td>{{ object.user }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}